]body {margin:0;background:#0a0a0a;color:white;font-family:Georgia;}

.topbar{text-align:center;padding:10px;background:#012b2b;}

.navbar{display:flex;justify-content:space-between;background:white;color:black;padding:15px;}
.navbar ul{display:flex;gap:20px;list-style:none;}
.navbar a{text-decoration:none;color:black;}

.btn{background:#c49b63;padding:10px;border-radius:20px;color:white;}

.hero{height:80vh;background:url("images/hero.jpg") center/cover;position:relative;}
.overlay{position:absolute;width:100%;height:100%;background:rgba(0,0,0,0.6);}
.hero-content{text-align:center;position:relative;top:50%;transform:translateY(-50%);}
.profile{width:120px;border-radius:50%;border:3px solid gold;}

.services{display:flex;gap:20px;justify-content:center;flex-wrap:wrap;}
.service-card{background:#111;width:300px;border-radius:10px;overflow:hidden;}
.service-card img{width:100%;height:200px;object-fit:cover;}

.icon{background:gold;width:50px;height:50px;border-radius:50%;margin:auto;}

.news-card{background:#111;padding:15px;margin:10px auto;max-width:700px;}

.whatsapp{position:fixed;bottom:20px;right:20px;background:#25D366;padding:15px;border-radius:50%;}

.disclaimer{position:fixed;width:100%;height:100%;background:black;display:flex;justify-content:center;align-items:center;}
.disclaimer-box{background:#111;padding:20px;text-align:center;}