body {
  margin: 0;
  font-family: Georgia, serif;
  background: #0a0a0a;
  color: white;
}

/* NAVBAR */
nav {
  display: flex;
  justify-content: space-between;
  padding: 20px 50px;
  background: black;
  border-bottom: 1px solid gold;
}

nav h2 {
  color: gold;
}

nav ul {
  display: flex;
  gap: 20px;
  list-style: none;
}

/* HERO SECTION */
.hero {
  height: 90vh;
  background: linear-gradient(135deg, #0a0a0a, #1a1a1a);
  position: relative;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: radial-gradient(circle, rgba(255,215,0,0.1), transparent);
}

.hero-content {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  gap: 50px;
}

.profile {
  width: 200px;
  border-radius: 50%;
  border: 3px solid gold;
}

.hero-text h1 {
  font-size: 40px;
  color: gold;
}

/* SECTIONS */
section {
  padding: 60px;
  text-align: center;
}

h2 {
  color: gold;
}

/* CARDS */
.cards {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.card {
  padding: 20px;
  border: 1px solid gold;
  background: #111;
  width: 200px;
}

/* CONTACT */
input, textarea {
  display: block;
  margin: 10px auto;
  padding: 10px;
  width: 250px;
}

button {
  background: gold;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

/* FOOTER */
footer {
  background: black;
  padding: 20px;
  border-top: 1px solid gold;
}